.downloadContainer {
  background-color: #ecfefe;
  padding-inline: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-radius: 50px;
}

.downloadContainer > .app {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.textContainer > h1 {
  color: var(--primary);
}

.textContainer > p {
  color: var(--deep-black);
  font-family: var(--font-secondary);
  font-size: 32px;
  font-weight: 600;
}

.textContainer > span {
  color: var(--black);
}

.communitySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.communityTextSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
}

.communityTextSection > h1 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 40px;
  color: var(--deep-black);
}

.communityTextSection > button {
  font-weight: 600;
  font-family: var(--font-secondary);
  color: var(--deep-black);
  cursor: pointer;
  background-color: #a0dde2;
  border-radius: 5px;
  width: 218px;
  max-width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.regulationSection {
  background-image: url(../../assets/backgrounds/regulation.png);
}

.regulationContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.regulationContent > h1 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 40px;
  color: var(--deep-black);
}

.regulationContent > p {
  max-width: 504px;
}

@media (max-width: 800px) {
  .downloadContainer {
    flex-direction: column;
    gap: 20px;
  }
  .downloadContainer > .app {
    height: 150px;
  }
  .downloadContainer > .app > img {
    object-fit: cover;
    object-position: top;
  }

  .textContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .textContainer > p {
    font-size: 20x;
  }

  .communitySection {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .communityTextSection {
    max-width: 100%;
    align-items: center;
  }

  .communityTextSection > h1 {
    font-size: 32px;
  }

  .regulationContent > h1 {
    font-size: 32px;
  }

  .regulationContent > p {
    font-size: 13px;
  }
}
