.downloadContainer {
  background-color: #ecfefe;
  padding-inline: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-radius: 50px;
}

.downloadContainer > .app {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.textContainer > h1 {
  color: var(--primary);
}

.textContainer > p {
  color: var(--deep-black);
  font-family: var(--font-secondary);
  font-size: 32px;
  font-weight: 600;
}

.textContainer > span {
  color: var(--black);
}

.communitySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.communityTextSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
}

.communityTextSection > h1 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 40px;
  color: var(--deep-black);
}

.communityTextSection > button {
  font-weight: 600;
  font-family: var(--font-secondary);
  color: var(--deep-black);
  cursor: pointer;
  background-color: #a0dde2;
  border-radius: 5px;
  width: 218px;
  max-width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.regulationSection {
  background-image: url(../../assets/backgrounds/regulation.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.regulationContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.regulationContent > h1 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 40px;
  color: var(--deep-black);
}

.regulationContent > p {
  max-width: 504px;
}

.futureSectionContent {
  display: flex;
  align-items: center;
  gap: clamp(100px, 20vw, 200px);
  justify-content: center;
  width: 100%;
}

.futureTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  max-width: 50%;
}

.futureTextContainer > h1 {
  font-weight: 500;
  font-family: var(--font-secondary);
  color: var(--deep-black);
  font-size: 18px;
}

.futureTextContainer > h2 {
  font-weight: 600;
  font-family: var(--font-secondary);
  color: var(--deep-black);
  font-size: 48px;
}

.futureTextContainer > h2 > span {
  color: #8c5ff8;
}

.futureTextContainer > p {
  max-width: 50%;
  color: var(--deep-black);
  margin-bottom: 10px;
}

.futureTextContainer > button {
  outline: none;
  border: none;
  background-color: #07969e;
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--white);
}

.futureSectionImage {
  background-image: url(../../assets/images/risevest-save.png);
  background-size: contain;
  height: 508.71px;
  width: 316.31px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.futureSectionImage > .futureImageContainer {
  width: 316.31px;
  background-image: url(../../assets/images/rise-build-wealth.png);
  height: 269.2px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: -20px;
}

.futureSectionImage > .futureImageContainer > .futureImageTextContainer {
  padding: 40px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.futureImageTextContainer > .buildText {
  font-family: var(--font-secondary);
  font-size: 16.05px;
  font-weight: 700;
}

.futureImageTextContainer > .buildDescription {
  font-weight: 400;
  font-size: 12.62px;
}

.futureImageTextContainer > a {
  font-weight: 700;
  font-size: 12.04px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroSection {
  background-image: url(../../assets/backgrounds/hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.heroContent {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.heroContent > h1 {
  font-size: 56px;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: var(--primary);
  line-height: 60px;
  margin-bottom: 20px;
}

.heroContent > p {
  font-weight: 500;
  margin-bottom: 20px;
}

.partnerContainer {
  display: flex;
  justify-content: center;
}

.partnerContainer > p {
  display: none;
}

@media (max-width: 800px) {
  .downloadContainer {
    flex-direction: column;
    gap: 20px;
  }
  .downloadContainer > .app {
    height: 150px;
  }
  .downloadContainer > .app > img {
    object-fit: cover;
    object-position: top;
  }

  .textContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .textContainer > p {
    font-size: 20x;
  }

  .communitySection {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .communityTextSection {
    max-width: 100%;
    align-items: center;
  }

  .communityTextSection > h1 {
    font-size: 32px;
  }

  .regulationContent > h1 {
    font-size: 32px;
  }

  .regulationContent > p {
    font-size: 13px;
  }

  .futureSection {
    display: none;
  }

  .heroSection {
    flex-direction: column;
    align-items: center;
  }

  .heroContent {
    align-items: center;
    text-align: center;
  }

  .heroContent > h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .heroContent > p {
    font-weight: 400;
    margin-bottom: 10px;
  }

  .partnerContainer {
    flex-direction: column;
  }

  .partnerContainer > img {
    object-fit: contain;
  }

  .partnerContainer > p {
    display: block;
    text-align: left;
    color: #7b8da8;
    font-size: 18px;
    font-weight: 700;
  }
}
